/* Todo   */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500&display=swap');
/* Titulos  */
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
/* Bienvenida  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: #f1f2df;
background-image: url("https://www.transparenttextures.com/patterns/xv.png");
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.titulo {
  font-family: 'Chango', cursive;
}

.welcome {
  font-family: 'Dancing Script', cursive;
  text-shadow: 0px 2px 2px #000;
}

.gifWelcome {
  height: 100%;
  width: 100%;
  background-image: url('./assets/camarero.webp');
  background-size: 150% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  /* background-image: linear-gradient(to right bottom, #005264, #004b5b, #014352, #013c49, #013541); */
  background-image: linear-gradient(to right top, #067d32, #177c3a, #227b41, #2b7947, #33784d);
}